/*
Theme Name: Beautyspa
Description: Used for custom css.
*/

body{
font-family:"Kaushan Script";
}
/* TOp CSs */
#top{
position:relative;
z-index:1;
width:100%;
}
.img-responsive{
width:100%;
height:auto;
}
.spa-top{
padding:5px 0;
}
.spa-top .top-social .icon {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 16px;
  height: 30px;
  padding: 5px 0;
  width: 30px;
}
.top-search{
text-align:right;
}
.top-search .form-group{
margin:0;
}
.top-search .form-group .form-control{
background-color:transparent;
height:30px;
border:0px solid rgb(152, 67, 90);
}
.top-search .spa-text{
padding-top:5px;
}
.top-search .spa-text span{
margin-right:20px;
}
.top-search label{
margin-bottom:-5px;
}
.top-search #search{
padding-left:40px;
}
.top-search .search #search-label
{
position:relative;
width:100%;
}
.top-search  #search-label:before {
    content:"\f002";
    font-family: FontAwesome;
    position: absolute;
 /*    top: 2px; */
    right: 15px;
	padding:0px 8px;
	font-size:18px;
	border:1px solid rgba(255, 255, 255, 0.2);
}
.top-search #search-label:before{
color:#fff;
}
.top-search .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

/* TOp CSs */

/* MENU CSS */

.menu .navbar-brand {
 height: auto;
  padding: 0px;
}
.menu {
  border-radius: 0px;
  margin-bottom:0;
  border:0px;
  background:rgba(0, 0, 0,0.5);
 /*  background-color:rgb(59, 150, 54); */
  border-bottom:1px solid #e6e6e6;
}
.menu .navbar-nav > li > a {
  padding:45px 20px;
}
.menu.navbar-default .navbar-nav > .active > a,
.menu.navbar-default .navbar-nav > .active > a:focus,
.menu.navbar-default .navbar-nav > .active > a:hover {
  /* background-color: #3b9636 !important; */
  background-color: transparent !important;
  color: #fff;
}
.menu.navbar-default .navbar-nav > .open > a,
.menu.navbar-default .navbar-nav > .open > a:focus,
.menu.navbar-default .navbar-nav > .open > a:hover {
 /*  background-color: #3b9636; */
 background-color: transparent !important;
  color:#fff;
}
.menu .dropdown-menu {
  left: 0px;
  right: 0px;
 /* background-color:rgb(152, 67, 90) !important; */
 background-color: rgba(0,0,0,0.5) !important;
padding:0;
}
.menu .dropdown-menu li a{
color:#fff !important;
padding:10px;
font-size:16px;
}
.menu.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size:16px;
}

/* MENU CSS */

/* SLIDERE CSS */
.slider {
  margin: 0;
}
.slider .carousel-indicators li {
  border-radius: 0;
  height: 20px;
  width: 20px;
}
.slider .carousel-indicators .active {
  height: 22px;
  margin: 0;
  width: 22px;
}
.slider .left.carousel-control {
  height: 50px;
  left: 40%;
  top: 91%;
  width: 50px;
  z-index:99;
   background:transparent;
}
.slider .right.carousel-control {
  height: 50px;
  right: 40%;
  top: 91%;
  width: 50px;
 z-index:99;
 background:transparent;
}
.slider .glyphicon-chevron-left {
  font-size: 48px;
}
.slider .glyphicon-chevron-right {
  font-size: 48px;
}
.slider .carousel-caption {
  left: 0;
  padding-bottom: 30px;
  right: 0;
  top:40%;
}
.slider .carousel-caption h1 {
  color: #fff;
  float: left;
  font-size: 42px;
  margin-top: 0;
  opacity: 0.7;
  padding: 20px 0;
  width: 35%;
}
.slider .carousel-caption  h2 {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  margin-top: 0%;
  opacity: 0.7;
  padding: 30px 20px;
  width: 30%;
  float:right;
 text-align:left;
}
.caption-btn {
  border-radius: 30px;
  color: #fff;
  float: left;
  margin-left: 11%;
  margin-top: 20%;
  padding: 10px 15px;
  opacity:0.8;
  font-size:16px;
}
.caption-btn:hover,
.caption-btn:focus{
color: #fff;
border-radius: 0;
transition:all 1s ease 0.3s;
text-decoration:none;
}
.slider .carousel-caption .caption-title {
text-align:left;
display:block;
font-size: 48px;
}
.slider .carousel-caption span {
 font-size:16px;
 display:block;
 margin:5px 0;
}
/* SLIDERE CSS */
.space{
padding-top:50px;
padding-bottom:50px;
}
/* Footer Css */
.footer{
background-color:#000;
color:#fff;

}
/* Footer Css */
/* Spa heading */
.spa-heading{
padding:30px 0;
color:#fff;
}
.spa-heading p {
  float: right;
  font-size: 18px;
  margin:10px 0;
}
/* Spa heading */

/* left side bar */
.left-sidebar,
.blog-description{
border:1px solid #e6e6e6;
}
.sidebar-widget{
margin:20px 0;
}
.sidebar-widget .form-group {
  margin: 10px 0;
}
.sidebar-widget .form-control {
  border:0;
  box-shadow:none;
}
.sidebar-widget label {
  border-top: 1px solid #666;
  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid #666;
}
.sidebar-widget  #search-label::before {
  border: 1px solid rgba(255, 255, 255, 0.2);
  content: "";
  font-family: FontAwesome;
  font-size: 18px;
  padding: 0 8px;
  position: absolute;
  right: 15px;
  color:#fff;
}
.blog-description {
  margin: 0 0 50px;
  padding: 0;
  color: white !important;
}
a:hover,
a:focus{
	text-decoration : none !important;
}
.blog-description h1 {
  margin: 0 0 10px 0;
  padding: 5px ;
  border-bottom: 5px solid #3b9636;
  -webkit-border-image: url(../images/bottom.png) 30 round; /* Safari 3.1-5 */
 -o-border-image: url(../images/bottom.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/bottom.png) 30 round;
}
.rightside .two-cloum h1 {
  font-size: 24px;
}
.blog-description h1 a{
  color: #fff;
  text-decoration:none;
}
.blog-meta {
  padding: 0;
}
.blog-meta .img-thumbnail{
  padding: 0;
  border: 0;
}
.blog-meta .img-thumbnail img {
  border-radius: 50%;
}
.blog-date {
  font-size: 30px;
  text-align: center;
  margin: 5px 0;
  color: #fff;
}
.blog-date > span ,
.blog-comment > span {
  display: block;
}
.blog-date  .blog-year,
.blog-comment  .blog-year{
font-size:14px;
border-radius:0;
}
.blog-comment {
  text-align: center;
  font-size: 30px;
  margin: 5px 0;
  color: #fff;
}
.blog-detail .img-thumbnail {
  padding: 0 !important;
  display: block !important;
  position: relative !important;
  border: 0 !important;
}
.blog-detail .img-thumbnail .overlay{
  visibility:hidden;
  opacity: 0;
  position: absolute;
  padding: 20% 20px; 
}
.blog-detail .img-thumbnail:hover .overlay,
.blog-detail .img-thumbnail:focus .overlay{
opacity:1;
 visibility:visible;
 transition:all 1s ease 0.3s;
 right: 0px;
  text-align: center;
  top:0;
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 center;
   bottom: 0px;
  color: white;
  font-size: 1em;
  left: 0px;
  overflow: hidden;
}
.blog-detail .img-thumbnail .overlay a {
  text-align:center;  
}
.blog-detail .img-thumbnail .overlay .icon {
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  height: 70px;
  margin: 0 2px 2px;
  padding: 20px 10px;
  width: 70px;
}
.blog-text {
  font-size: 16px;
  margin: 15px 0;
}
.blog-tags,
.blog-category{
padding:0;
}
.blog-tags span,
.blog-category span {
  border: 1px solid #3b9636;
  margin-right: 10px;
  padding: 6px 10px;
  color: #fff;
}
.blog-tags > a {
  border-radius: 30px !important;
  display: inline-block;
  margin: 2px 2px !important;
  padding: 5px 10px !important;
}
.blog-category > a {
   border-radius: 30px !important;
  display: inline-block;
  margin: 2px 2px !important;
  padding: 5px 10px !important;
}
.blog-detail p {
  font-size: 16px;
  margin-bottom: 20px;
}
.blog-detail .btn {
  border-radius: 0 !important;
  color: #fff;
  padding: 0px 10px;
}
.blog-detail .btn::before {
  color: #fff;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.blog-description .blog-meta  .img-thumbnail h4{
position:absolute;
display:none;
}
.blog-description .blog-meta .img-thumbnail:hover  h4,
.blog-description .blog-meta .img-thumbnail:focus  h4{
display:block;
opacity:1;
z-index:9;
top:-10px;
left:122%;
min-width:150px;
 padding:5px 10px;     
background-color:#3b9636;
color:#fff;
transition:all 1s ease 0.4s;
}
.sidebar-widget .nav-tabs .icon {
  font-size: 36px;
  padding: 5px 8px;

}
.sidebar-widget .nav-tabs > li > a{
   color: #666;
}
.sidebar-widget .nav-tabs > li.active > a,
 .sidebar-widget .nav-tabs > li.active > a:focus,
 .sidebar-widget .nav-tabs > li.active > a:hover {
 color: #fff !important;
background-color:#666;
}
.sidebar-widget .nav-tabs > li > a {
 margin:0;
}
.sidebar-widget .flickr-gallery {
  margin: 30px 0;
}
.sidebar-widget .flickr-gallery  .pics{
padding:7px;
border-radius:0;
}
.widget-tags {
  border-radius: 36px;
  margin: 3px;
  padding: 4px 9px;
  display: inline-block;
}
.sidebar-widget  .widget-archive{
margin:10px 0;
}
.sidebar-widget  .pics,
.sidebar-widget  .widget-archive{
padding:0
}
.sidebar-widget  .pics .img-thumbnail{
border:0;
padding:0;
margin-top:10px;
}
.sidebar-widget .pics  .img-thumbnail img{
border-radius:50%;
}
/* left side bar */

/* Footer Start */
.footer .widget-footer{
padding:0px;
margin:20px 0px;
}
.footer .widget-footer .footer-heading{
padding-bottom:20px;
}
.footer .widget-footer .footer-text{
margin:1px;
margin-top:20px;
}
.footer .widget-footer .footer-text .post-pics{
padding:0px;
margin-top:10px;
}
.footer .widget-footer .footer-text .post-text{
padding:0px 0px 0px 5px;
}
.footer .widget-footer .footer-text  .padding{
padding:5px 0px;
margin:0px;
}
.footer .widget-footer .footer-text a{
color:#fff;
text-decoration:none;
}
.footer-heading h3 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin: 10px 0;
  width: 90%;
}
.footer .widget-footer hr{
width:100%;
margin:15px 0px;
float:left;
}
.footer .widget-footer .footer-text .footer-gallery{
padding:5px;
}
.footer .widget-footer .footer-text .address{
margin:0px;
padding:5px 0px;
}
.widget-footer p{
margin-top:0;
}
.widget-footer a span{
margin-top:20px;
font-size:16px;
}
.widget-footer .overlay{
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10% 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
    background-color:rgba(0,0,0,0.5);
 }
.widget-footer .overlay:hover,
.widget-footer .overlay:focus{
opacity:1;
}
 .widget-footer  .overlay  a{
font-size:14px;
padding:3px;
position:relative;
color:#fff;
}
.widget-footer .col-xs-4 .overlay{
  bottom: 5px;
  color: white;
  font-size: 1em;
  left: 5px;
  opacity: 0;
  overflow: hidden;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color:rgba(0,0,0,0.5);
 }
 .widget-footer .col-xs-4 .overlay:hover,
 .widget-footer .col-xs-4 .overlay:focus{
 opacity:1;
 }
  .widget-footer .col-xs-4 .overlay a{
  color:#fff;
  }
 .footer-bottom{
 padding:10px 0px;
 font-size:18px;
 }
 .footer-bottom a{ 
 margin:5px;
 }
 .footer-bottom .right-align{
 float:right;
 }
 .widget-footer .address .icon{
 font-size:20px;
 }
  .footer-bottom .right-align a{
  color:#fff;
  text-align:center;
  }
 .footer-bottom .right-align .icon {
  border: 1px solid #fff;
  height: 30px;
  padding: 5px;
  width: 30px;
}
/* Footer End */

/* Spa Services */
.spa-services h1{
text-align:center;
}
.spa-services .desc{
text-align:center;
font-size:18px;
padding: 10px 10%;
}
.spa-services .img-thumbnail{
padding:0;
border:0;
border-radius:0;
display:block;
overflow:hidden;
position:relative;
}
.spa-services  .ser{
margin:20px 0 0;
overflow:hidden;
}
.spa-services  .ser:hover ,
.spa-services  .ser:focus {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);  /* For Webkit browsers */
filter: gray;  /* For IE 6 - 9 */
-webkit-transition: all 1s ease 0.3s;  /* Transition for Webkit browsers */
}
.spa-services .ser:hover img,
.spa-services .ser:focus img{
transform: rotate(15deg) scale(1.4);
transition: all 1s ease 0.3s;
}
.spa-services  .ser-text{
text-align:center;
margin:0;
border:1px solid #d6d6d6;
border-top:transparent;
}
.spa-services  .ser-text .btn{
border-radius:36px;
color:#fff;
margin:10px 0;
}
.spa-service .ser-button {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}
.spa-service .ser-button li{
display:inline-block;
margin:5px;
}
.spa-service h1{
text-align:center;
}
.spa-service .desc{
text-align:center;
font-size:18px;
padding: 10px 10%;
}
.spa-service .ser-button .btn{
padding:5px 10px;
border-radius:0;
}
.spa-service .ser-content{
margin:20px -15px;
padding:30px 0;
text-align:left;
background-color:#000;
color:#fff;
}
.spa-service .ser-content h1{
text-align:left !important;
}
.spa-service .ser-content p{
font-size:18px;
}
.spa-service .ser-content .img-thumbnail{
padding:0;
border:10px solid rgba(255,255,255,0.5);
border-radius:0;
display:block;
position: relative;
}
.spa-service .ser-content .owl-pagination{
display:none;
}
.ser-content .owl-theme .owl-controls .owl-buttons div {
  background: #869791 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  opacity: 0.5;
  padding: 3px 15px;
  border-radius:0;
}
.ser-content .owl-theme .owl-controls {
  margin-top: -50px;
  text-align: left;
}
.img-thumbnail .overlay {
  border: 10px solid rgba(0,0,0,0.6);
  visibility:visible;
  opacity:1;
  z-index:1;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:rgba(180, 180, 180, 0.40);
  position:absolute;
}
.portfolio h1{
text-align:center;
}
.portfolio .desc{
text-align:center;
font-size:18px;
padding: 10px 10%;
}
.port-pics{
margin:20px 0 0;
}
#grid{
width:100%;
height:auto;
}
.grid-item {
  padding:0;
}
.grid-item .overlay{
  visibility:hidden;
  opacity: 0;
  position: absolute;
  padding: 30% 20px; 
}
.grid-item:hover .overlay,
.grid-item:focus .overlay{
opacity:1;
 visibility:visible;
 transition:all 1s ease 0.3s;
 right: 0px;
  text-align: center;
  top:0;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 center;
   bottom: 0px;
  color: white;
  font-size: 1em;
  left: 0px;
  overflow: hidden;
}
.grid-item .overlay a{
color:#fff;
text-align:center;
}
.grid-item .overlay .icon{
border:1px solid #fff;
padding:5px 15px;
font-size:24px;
}
/* Spa Services */

/* Single */
.blog-single{
margin:0;
}
.alignnone {
  height: auto;
  max-width: 100%;
}
.aligncenter {
  margin: 0 auto;
}
.alignnone img {
  height: auto;
  max-width: 100%;
}
.wp-caption-text {
  background-color: #ccc;
  font-size: 16px;
  padding: 5px 0;
  text-align: center;
  font-style: italic;
}
.entry-content p {
  font-size: 16px;
}
.alignleft {
  float: left;
  margin: 0 20px;
}
.alignright {
  float: right;
}
.blog-pagination{
margin:20px 0;
}
.blog-pagination .icon {
  background-color: #ddd;
  border-radius: 50%;
  font-size: 18px;
  margin: 0 5px;
  padding: 2px 8px;
}
.blog-pagination .pager li > a {
  padding: 5px 10px;
  font-size: 18px;
}
.blog-author {
  margin: 20px 0;
}
.blog-author .img-thumbnail {
  border-bottom-left-radius: 78px;
  border-bottom-right-radius: 78px;
  border-top-right-radius: 78px;
  display: block;
  padding: 25px;
}
.blog-author .img-thumbnail img {
  border-radius: 50%;
}
.blog-author .social {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin: 10px 0;
}
.blog-author .social > li {
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  display: inline-block;
  padding: 2px 8px;
}
.blog-author .social > li a{
color:#fff;
}
.blog-author h3 {
  display: inline-block;
  font-weight:bold;
}
.blog-author p {
  font-size: 16px;
}
.blog-author .user-name{
float:right;
font-weight:bold;
}
.recent-blog{
margin:20px 0;
}
.recent-blog .img-thumbnail{
border:0px;
}
.recent-blog .owl-theme .owl-controls .owl-buttons div {
  border-radius: 0;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  padding: 0 15px;
  background:rgba(0,0,0,0.5);
}
.recent-blog  .owl-carousel .owl-prev {
  float: left;
  height: 35px;
  left: 0px;
  position: absolute;
  top: 25%;
  width: 35px;
}
.recent-blog .owl-carousel .owl-next {
  float: right;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 25%;
  width: 35px;
}
.recent-blog .owl-pagination{
display:none;
}
.blog-comments {
margin:0;
}
.comment-section{
margin:0;
}
.comments-text > h4 {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
.comments-text span {
  font-size: 16px;
  margin-left: 20px;
  font-weight: normal;
}
.comments-pics img {
  border: 5px solid #ccc;
}
.blog-comments .comment-detail{
margin:10px 0;
}
.blog-feedback{
margin:0;
}
.blog-feedback .form-control {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color #666;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 2px;
}
/* Single */


/* breadcrums */
.container-fluid .spa-heading {
	font-size: 17px;
	padding: 0;
	position: relative;
	display: inline-block;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	list-style: none;
}
.container-fluid .spa-heading li {
	display: inline-block;
	color: #fff;
}
.container-fluid .spa-heading li a{
	color:#fff;
}
.container-fluid .spa-heading > .active {
	color: #000;
}
.container-fluid .spa-heading > li + li:before {
	padding: 0 5px;
	color: #000;
	content: "/\00a0";
}

/* error section */
.send_button
{
	color: #3b9636;
	background-color: #fff;
	padding: 6px 12px;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #3b9636;
	border-radius: 2px solid transparent;
}
.send_button:hover,
.send_button:focus{
	background-color : #3b9636;
	color: #fff;
}
.error_404 h2{
	font-size : 42px;
	color : gray;
	font-weight: 400;
}
.error_404 h4{
	color:gray;
	font-size : 30px;
}
.error_404 p{
	font-size : 25px;
}
.btn-search {
    color: #fff;
    background: #3b9636;
    border-radius: 0px;
    font-size: 14px;
	float: right;
}
.fsearch  .form-control{
	float :left;
	width:80%;
}
.blog-description h1
{
	color: #fff !important;
}