/*
Theme Name: Beautyspa
Description: Used for media css.
*/

@media (min-width:1200px){
p.single-prev {
   float: right;
} 
p.single-next {
   float: left;
}
}
@media (min-width:769px){
.menu.sticky-header .navbar-nav > li > a {
  padding: 30px 8px;
}
.menu .dropdown-menu i {
    transform: rotate(-90deg);
}
}

@media(max-width:768px){
.menu .navbar-nav > li > a {
    padding: 10px 6px;
}
.dropdown a i {
    margin-left: 7px;
    background-color: #ccc;
    border-radius: 50%;
    padding: 0 3px;
}
/* slider*/
.slider .carousel-caption{
	top:50%;
}
.slider .carousel-caption h2 {
	display:none;
}
.slider .carousel-caption h1{
	width:100%;
	font-size:24px;
}
.slider a.caption-btn {
    margin: 0 auto;
    left: 42%;
    position: absolute;
    top: 50%;
}
.c100 {
    margin-left: 20%;
}
.spa-contact .icon {
     float: none;
    font-size: 48px;
}
.navbar-header{
	width:100%;
	text-align:center;
}
.menu .navbar-brand {
    margin:0 !important;
}
.spa-menu-head .navbar-brand > img {
    width: auto !important;
    height: 80px !important;
	margin:0 auto !important;
}
.spa-service .swiper-button-next {
    left: 10%;
}
.spa-service .swiper-button-next,
.spa-service .swiper-button-prev {
	top:95%;
}
.spa-service-detail i {
    margin-top: -10px;
}
.spa-appoint-detail {
float: none;
}
.spa-contact-message > h3::after {
    left: 5%;
}
.spa-price {
left: 35%;
}
.progress .team-graph-end {
    left: 90%;
}
.side2 {
    left: 83% !important;
}
.spa-specialilty h2::after {
left: 6%;
}
}
@media(max-width:767px){
.menu .dropdown-menu {
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.5) !important;
	left: 0 ;
	max-width:100%;
}
.menu .dropdown-menu li a{
color:#fff !important;
text-transform:uppercase;
}
.menu  .caret {
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    float: right;
}
}
@media(max-width:480px){
#top{
	position:relative;
}
.dropdown a i {
    float: right;
}
.navbar-collapse.in {
    max-height: 350px;
}
.dropdown a i {
    margin-left: 7px;
    background-color: #ccc;
    border-radius:0;
    padding: 2px 6px;
}
.c100 {
    margin-left: 15%;
}
.align-right {
    float: none;
}
.spa-service .swiper-button-next {
    left: 20%;
}
.spa-service .swiper-button-next,
.spa-service  .swiper-button-prev{
top:96%;
padding: 20px 20px;
background-size: 15px;
}
.f_copyright {
    text-align: center;
	padding-bottom: 10px;
}
.menu .navbar-toggle {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3c763d;
}
.spa-call-link .btn {
    float: none;
	font-size:16px;
}
.slider .carousel-caption {
    display: block !important;
}
.slider .carousel-caption h2 {
    display: block !important;
}
.slider .carousel-caption{
	top:0%;
}
.slider .carousel-caption h1 {
    font-size: 22px;
}
.slider .carousel-caption h1 {
    float: none;
    padding: 6px;
}
.slider .carousel-caption  h2{
    font-size: 16px;
    padding: 6px 20px;
    width: 100%;
    float: none;
    text-align: center;
}
.spa-test-desc p {
    float: none;
}
.footer-bottom {
    padding: 15px 0;
}
p.b_link {
    text-align: center;
}
.spa-test-pic a {
    display: inherit;
    text-align: center;
}
.spa-call-detial {
    text-align: center;
}   
.spa-call-link {
    text-align: center;
}
.footer-bottom .right-align {
	text-align:center;
    float: none;
}
.top-search {
    text-align: left;
    padding: 5px;
}
.carousel-indicators {
    display: none;
}
.slider .right.carousel-control {
    right: 0%;
    top: 70%;
}
.slider .left.carousel-control {
    left: 0%;
    top: 70%;
}
.slider .carousel-caption{
display:none;
}
.spa-heading .spa-breadcum {
    display: block;
    float: none;
}
.spa-service-detail > h1{
font-size:30px;
}
.spa-service-detail > h1::after {
    width: 240px;
}
.spa-service-detail i{
margin:0;
}
.spa-service-detail i img{
margin-top:5px;
    width: 40px;
    height: 40px;
}
.spa-pricing-detail{
margin:10px 0 60px 0;
}
.aligncenter {
    max-width: 100%;
}
.aligncenter img {
    max-width: 100%;
}
.comments-pics {
    padding: 0;
}
.blog-pagination .pager li > a {
    padding: 3px 5px;
    font-size: 14px;
}
.blog-date ,
.blog-comment{
    font-size: 20px;
}
.blog-date .blog-year, .blog-comment .blog-year {
    font-size: 6px;
}
.blog-description h1{
font-size:20px;
}
.overlay-text {
    height: 92%;
    padding:0;
}
.spa-portfolio-detl h1 {
    margin: 10px 0 10px;
}
.progress .team-graph-end {
    left: 90%;
}
.side1 {
    left: 65% !important;
}
.side2 {
    left: 80% !important;
}
.spa-appoint-detail i {
    font-size: 36px;
    height: 90px;
    left: 30%;
    margin-top: -35px;
    width: 90px;
}
.spa-tabs-type1 .nav-tabs li a,
.spa-tabs-type2 .nav-tabs li a {
    padding: 10px 20px;
}
.spa-404-error .btn {
    font-size: 24px;
    padding: 6px 30px;
}
.spa-contact-message > h3::after {
    left: 10%;
}
.spa-contact-info {
    padding: 0 20px;
}
.spa-social li .icon {
margin:0;
}
.spa-specialilty h2::after {
    left: 13%;
}
}