﻿/*****
Theme Name: BeautySpa
Author: weblizar
Author URI: http://weblizar.com/
Theme URI: https://weblizar.com/freethemes/beautyspa/about-theme/
Description:  Beautyspa is a massage center, beauty spa salon responsive WordPress theme which caters to beauty salons, spas, massage, health and hair salons , Yoga, Wellness Center and any other health business purpose. . Compatible with popular plugins like WooCommerce and Contact form 7. It consists of homepage sections and easy to change link color.
Version:  1.8
Tested up to: 5.5
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, three-columns, custom-menu, custom-logo, custom-background, custom-header, right-sidebar, theme-options, threaded-comments, footer-widgets, featured-images, full-width-template, blog, portfolio , e-commerce
Text Domain: beautyspa
*****/
.textwidget img { 
width: 100%;
height: auto;
}
body{
font-family:"Tinos";
}
a,
a:focus{
outline:none !important;
}
/* TOp CSs */
header{
z-index:9999;
}
.spa-title-section{
text-align:center;
font-size:48px;
}
.portfolio .spa-title-section,
.spa-testimonail .spa-title-section,
.portfolio .spa-title-section-desc,
.spa-testimonail .spa-title-section-desc{
	color: #fff;
}
.spa-title-section-desc{
text-align:center;
font-size:20px;
padding: 10px 5%;
}
#top{
//position:absolute;
position:relative;
width:100%;
height:25%;
background-image:none;
}
.img-responsive{
width:100%;
height:auto;
}
.spa-top{
padding:5px 0;
}
.social{
display:inline-block;
list-style:none;
padding:0;
margin:0;
}
.social li{
padding-left: 10px;
padding-right: 10px;
display:inline-block;
}
.right-align .social li:hover ,
.right-align .social li:focus {
    background-color: black;
}
.social li:hover,
.social li:focus {
    background-color: #3b9636;
    border-radius: 15px;
}
.spa-top .top-social .icon{
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
font-size: 16px;
height: 30px;
padding: 5px 0;
width: 30px;
}
.top-search{
text-align:right;
}
.top-search .form-group{
margin:0;
}
.top-search .form-group .form-control{
background-color:transparent;
height:30px;
border:0px solid rgb(152, 67, 90);
}
.top-search .spa-text{
padding-top:5px;
}
.top-search .spa-text span{
margin-right:20px;
}
.top-search label {
  margin-bottom: -5px;
  width: 200px;
}
.top-search .btn-search {
  background: transparent none repeat scroll 0 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  padding: 0 5px;
  position: absolute;
  right: 15px;
  top: 0;
  border-radius: 0;
}
.top-search .btn-search:hover,
.top-search .btn-search:focus{
color:#fff;
}
.top-search .form-control::-moz-placeholder {
color: #fff;
opacity: 1;
}

/* TOp CSs */

/* MENU CSS */
.navbar-header p {
    color: #fff;
}
.sticky-header .navbar-header img {
  height: 80px !important;
  transition: all 500ms ease 0s;
  width: 200px !important;
}
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.logged-in .sticky-header {
  top: 32px;
}
.menu .navbar-brand{
display:block;
float:none;
}
.menu .navbar-brand img {
  margin: -20px 0 0;
}
.spa-menu-head{
margin:0;
}
.menu .navbar-toggle {
margin-top: 25px;
margin-right: 0;
}
.menu .navbar-brand {
  font-size: 42px;
  height: auto;
  line-height: inherit;
  padding: 0;
  margin:20px 0 0 0 !important;
  color:#fff;
  text-shadow: 2px 2px rgba(53, 49, 49, 0.24);
}
.menu {
  border-radius: 0px;
  margin-bottom:0;
  border:0px;
  background-size: cover;
  background-color:rgba(0,0,0,0.7);
}
.menu .navbar-nav > li > a {
padding:45px 8px;
}
.menu.navbar-default .navbar-nav > .active > a{
background-color: transparent !important;
color: #fff;
}
.menu .dropdown-menu li a:hover,
.menu.navbar-default .navbar-nav > .active > a:focus,
.menu.navbar-default .navbar-nav > .active > a:hover {
color: #fff;
}
.menu .dropdown-menu > .active > a,
.menu .dropdown-menu > .active > a:focus,
.menu .dropdown-menu > .active > a:hover {
  background-color:transparent !important;
  color: #0d520c;
}
.menu.navbar-default .navbar-nav > .open > a,
.menu.navbar-default .navbar-nav > .open > a:focus,
.menu.navbar-default .navbar-nav > .open > a:hover {
background-color: transparent !important;
color:#0d520c;
}
.menu .dropdown-menu {
max-width:200px;
left: -999em;
right: 0px;
background-color:#fff !important;
/* background-color: rgba(0,0,0,0.5) !important; */
padding:0;
width:auto;
}
.menu .dropdown-menu li a {
  color: #000;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
}
.menu .dropdown-menu i {
  float: right;
}
.menu .dropdown-menu li a:focus,
.menu .dropdown-menu li a:hover{
color:#0d520c !important;
background-color: #f7f6f6!important;
}
.menu.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.menu .dropdown-menu  .open > a,
.menu .dropdown.open > a{
background-color:transparent !important;
color:#fff !important;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100% !important;margin-top:0px;margin-left:-1px; margin-right:-130px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.dropdown-submenu>a:after{display:block;content:"";float:right;width:0;height:0;border-color:transparent; font-weight:bold; border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:-1px;margin-right:0px; font-size:20px;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
*{
  word-wrap: break-word;
}
/* Menu 1 */
.menu1 .navbar-header {
  float: none !important;
  margin: 0 auto;
}
.menu1 .navbar-nav > li > a {
  padding: 15px 10px;
}
.menu1 .navbar-collapse {
  text-align: center;
}
.menu1 .nav > li {
    display: inline-block;
    position: relative;
}
.menu1 .navbar-nav {
  float: none;
  margin: 0;
}
.menu1 .navbar-right{
float: none !important;
}
.menu1 .navbar-nav > li {
  float: none;
}
/* Menu 1 */
/* MENU CSS */
/* SLIDERE CSS */
.slider {
margin: 0;
}
.slider .carousel-indicators li {
border-radius: 0;
height: 20px;
width: 20px;
}
.slider .carousel-indicators .active {
height: 22px;
margin: 0;
width: 22px;
}
.slider .left.carousel-control {
height: 50px;
left: 40%;
top: 91%;
width: 50px;
z-index:99;
background:transparent;
}
.slider .right.carousel-control {
height: 50px;
right: 40%;
top: 91%;
width: 50px;
z-index:99;
background:transparent;
}
.slider .glyphicon-chevron-left {
font-size: 48px;
}
.slider .glyphicon-chevron-right {
font-size: 48px;
}
.slider .carousel-caption {
left: 0;
padding-bottom: 30px;
right: 0;
top:40%;
}
.slider .carousel-caption h1 {
color: #fff;
float: left;
font-size: 42px;
margin-top: 0;
opacity: 0.7;
padding: 20px 0;
width: 35%;
}
.slider .carousel-caption  h2 {
background-color: rgba(0,0,0,0.7);
color: #fff;
margin-top: 0%;
font-size:20px !important;
opacity: 0.7;
padding: 30px 20px;
width: 30%;
float:right;
text-align:left;
}
.caption-btn {
border-radius: 30px;
color: #fff;
float: left;
margin-left: 11%;
margin-top: 20%;
padding: 10px 15px;
opacity:0.8;
font-size:16px;
text-decoration:none;
}
.caption-btn::after {
  content: "";
  font-family: FONTAWESOME;
  font-size: 20px;
  margin: 0 5px;
}
.caption-btn:hover,
.caption-btn:focus{
color: #fff;
border-radius: 0;
transition:all 1s ease 0.3s;
text-decoration:none;
}
.slider .carousel-caption .caption-title {
text-align:left;
display:block;
font-size: 48px;
}
.slider .carousel-caption span {
font-size:40x;
display:block;
margin:5px 0;
}
/* SLIDERE CSS */
.space{
padding-top:50px;
padding-bottom:50px;
}
/* Footer Css */
.footer{
background-color:#000;
color:#fff;
}
/* Footer Css */
/* Spa heading */
.spa-heading{
padding:30px 0;
color:#fff;
}
.spa-heading h1 {
display: inline-block;
margin:0
}
.spa-heading .spa-breadcum {
display: inline-block;
padding: 0;
float: right;
list-style: none;
margin:5px 0 0 0;
}
.spa-breadcum a::after {
  content: "";
  float: right;
  font-family: FONTAWESOME;
  margin: 0 5px;
}
.spa-heading .spa-breadcum li {
display: inline-block;
}
.spa-heading .spa-breadcum li a{
font-size: 18px;
color:#fff;
text-decoration:none;
margin:0px 5px;
}
.spa-heading p {
float: right;
font-size: 18px;
margin:10px 0;
}
/* Spa heading */

/* left side bar */
.left-sidebar {
  padding-top: 20px;
}
.left-sidebar,
.blog-description{
border:1px solid #e6e6e6;
}
.sidebar-widget {
margin: 0 0 30px;
padding-left: 10px;
}
.widget-footer .form-group,
.sidebar-widget .form-group {
margin: 10px 0 0 0;
}
.sidebar-widget .form-control {
  border: 0 none;
  box-shadow: none;
  float: left;
  width: 80%;
}
.widget-footer .form-control{
  border: 0 none;
  box-shadow: none;
  float: left;
  width: 80%;
  height:30px;
  border-radius:0;
}
.widget-footer .btn-search,
.sidebar-widget .btn-search {
  border: 1px solid #666;
  border-radius: 0;
  color: #666;
  font-size: 20px;
  margin-left: 1px;
  padding: 0 8px;
}
.sidebar-widget #searchform label {
border-top: 1px solid #666;
padding: 5px 0;
width: 100%;
border-bottom: 1px solid #666;
}
.widget-footer #searchform label {
padding: 5px 0;
width: 100%;
}
.sidebar-widget ul {
  list-style: none;
  padding: 0 5px;
  display: block;
}
.sidebar-widget ul li a  {
color:#666;
font-size:16px;
text-decoration:none;
}
.sidebar-widget #search-label1::before {
border: 1px solid rgba(255, 255, 255, 0.2);
color: #fff;
content: "";
font-family: FontAwesome;
font-size: 18px;
padding: 1px 10px;
position: absolute;
right: 15px;
top: 18px;
}
.blog-description {
margin: 0 0 50px;
padding: 0;
}
.blog-description h1 {
margin: 0 0 10px 0;
padding: 5px ;
border-bottom: 5px solid #3b9636;
-webkit-border-image: url(images/bottom.png) 30 round; /* Safari 3.1-5 */
-o-border-image: url(images/bottom.png) 30 round; /* Opera 11-12.1 */
border-image: url(images/bottom.png) 30 round;
}
.blog-description .title{
color:#fff;
}
.rightside .two-cloum h1 {
font-size: 24px;
}
.blog-description h1 a{
color: #fff;
text-decoration:none;
}
.blog-meta {
padding: 0;
}
.blog-meta .img-thumbnail{
padding: 0;
border: 0;
}
.blog-meta .img-thumbnail img {
border-radius: 50%;
}
.blog-date {
font-size: 30px;
text-align: center;
margin: 5px 0;
color: #fff;
}
.blog-date > span ,
.blog-comment > span {
display: block;
}
.blog-date  .blog-year,
.blog-comment  .blog-year{
font-size:14px;
border-radius:0;
}
.blog-comment {
text-align: center;
font-size: 30px;
margin: 5px 0;
color: #fff;
width: 78px;
}
.blog-detail .img-thumbnail {
padding: 0 !important;
display: block !important;
position: relative !important;
border: 0 !important;
}
.blog-detail .img-thumbnail .overlay{
visibility:hidden;
opacity: 0;
position: absolute;
padding: 20% 20px; 
}
.blog-detail .img-thumbnail:hover .overlay,
.blog-detail .img-thumbnail:focus .overlay{
opacity:1;
visibility:visible;
transition:all 1s ease 0.3s;
right: 0px;
text-align: center;
top:0;
background: rgba(0, 0, 0, 0.4) none repeat scroll 0 center;
bottom: 0px;
color: white;
font-size: 1em;
left: 0px;
overflow: hidden;
}
.blog-detail .img-thumbnail .overlay a {
text-align:center;  
}
.blog-detail .img-thumbnail .overlay .icon {
border-radius: 50%;
color: #fff;
font-size: 30px;
height: 70px;
margin: 0 2px 2px;
padding: 20px 10px;
width: 70px;
}
.blog-text {
font-size: 16px;
margin: 15px 0;
}
.blog-tags,
.blog-category{
padding:0;
}
.blog-tags span,
.blog-category span {
border: 1px solid #3b9636;
margin-right: 10px;
padding: 6px 10px;
color: #fff;
}
.blog-tags > a {
border-radius: 30px !important;
display: inline-block;
margin: 2px 2px !important;
padding: 5px 10px !important;
}
.blog-category > a {
border-radius: 30px !important;
display: inline-block;
margin: 2px 2px !important;
padding: 5px 10px !important;
}
.blog-detail p {
  font-size: 16px;
  margin-bottom: 20px;
  white-space: normal;
  word-wrap: break-word;
}
.tagcloud a{
text-decoration:none;
color:#3B9636;
}
.tagcloud a:hover,
.tagcloud a:focus{
color:#fff;
}
.blog-detail .btn {
border-radius: 0 !important;
color: #fff;
padding: 0 10px;
margin: 5px 0 10px 0;
}
.blog-detail .btn::before {
color: #fff;
content: "\f105";
font-family: FontAwesome;
font-size: 20px;
margin-right: 10px;
position: relative;
border-right: 1px solid #fff;
padding-right: 10px;
}
.blog-description .blog-meta  .img-thumbnail h4{
position:absolute;
display:none;
}
.blog-description .blog-meta .img-thumbnail:hover  h4,
.blog-description .blog-meta .img-thumbnail:focus  h4{
display:block;
opacity:1;
z-index:9;
top:-10px;
left:122%;
min-width:150px;
padding:5px 10px;     
background-color:#3b9636;
color:#fff;
transition:all 1s ease 0.4s;
}
.sidebar-widget .nav-tabs .icon {
font-size: 36px;
padding: 5px 8px;

}
.sidebar-widget .nav-tabs > li > a{
color: #666; 
padding: 5px 14px;
}
.sidebar-widget .nav-tabs > li.active > a,
.sidebar-widget .nav-tabs > li.active > a:focus,
.sidebar-widget .nav-tabs > li.active > a:hover {
color: #fff !important;
background-color:#666;
}
.sidebar-widget .nav-tabs > li > a {
margin:0;
}
.sidebar-widget .flickr-gallery {
margin: 30px 0;
}
.sidebar-widget .flickr-gallery  .pics{
padding:7px;
border-radius:0;
}
.widget-tags {
border-radius: 36px;
margin: 3px;
padding: 4px 9px;
display: inline-block;
text-decoration:none;
border: 1px solid #3b9636;
}
.sidebar-widget  .widget-archive{
margin:10px 0;
}
.sidebar-widget  .pics,
.sidebar-widget  .widget-archive{
padding:0
}
.sidebar-widget  .pics .img-thumbnail{
border:0;
padding:0;
margin-top:10px;
}
.sidebar-widget .pics  .img-thumbnail img{
border-radius:50%;
}
.sidebar-widget .widget-post {
margin: 0 0 20px 0;
padding-right: 10px;
}
.sidebar-widget .widget-post h3 {
margin:5px  0;
}
.sidebar-widget .widget-post .img-thumbnail{
padding:0;
display:block;
position:relative;
border:0;
}
.sidebar-widget .widget-post h3 a{
color:#000;
text-decoration:none;
}
.widget-post-detail  p {
color: #555;
font-size: 16px;
}
.widget-post-detail{
padding:5px;
border:1px solid #ccc
}
.widget-post .img-thumbnail .overlay {
opacity: 0;
padding: 20% 20px;
position: absolute;
visibility: hidden;
background:rgba(0,0,0,0.6);
top:0;
width:100%;
height:100%;
text-align:center;
}
.widget-post:hover .overlay,
.widget-post:focus .overlay {
opacity: 1;
visibility: visible;
transition:all 1s ease 0.6s;
}
.widget-post .img-thumbnail .overlay a {
text-align: center;
}
.widget-post .img-thumbnail .overlay .icon {
border-radius: 50%;
color: #fff;
font-size: 18px;
height: 40px;
margin: 0 2px 2px;
padding: 10px 5px;
width: 40px;
}
/* left side bar */

/* Footer Start */
.footer .widget-footer{
padding:0px;
margin:20px 0px;
}
.footer .widget-footer .footer-heading{
padding-bottom:20px;
}
.footer .widget-footer .footer-text{
margin:1px;
margin-top:20px;
}
.footer .widget-footer .footer-text .post-pics{
padding:0px;
margin-top:10px;
}
.footer .widget-footer .footer-text .post-text{
padding:0px 0px 0px 5px;
}
.footer .widget-footer .footer-text  .padding{
padding:5px 0px;
margin:0px;
}
.footer .widget-footer .footer-text a{
color:#fff;
text-decoration:none;
}
.footer-heading h3 {
border-bottom: 1px solid #fff;
padding-bottom: 10px;
margin: 10px 0;
width: 90%;
}
.footer .widget-footer hr{
width:100%;
margin:15px 0px;
float:left;
}
.footer .widget-footer .footer-text .footer-gallery{
padding:5px;
}
.footer .widget-footer .footer-text .address{
margin:0px;
padding:5px 0px;
}
.widget-footer p {
  font-size: 16px;
  margin-top: 0;
}
.widget-footer a span{
margin-top:20px;
font-size:16px;
}
.widget-footer .overlay{
bottom: 0;
color: white;
font-size: 1em;
left: 0;
opacity: 0;
overflow: hidden;
padding: 10% 20px;
position: absolute;
text-align: center;
top: 0px;
right: 0;
-webkit-transition: 0.6s;
transition: 0.6s;
background-color:rgba(0,0,0,0.5);
}
.widget-footer .overlay:hover,
.widget-footer .overlay:focus{
opacity:1;
}
.widget-footer  .overlay  a{
font-size:14px;
padding:3px;
position:relative;
color:#fff;
}
.widget-footer .col-xs-4 .overlay{
bottom: 5px;
color: white;
font-size: 1em;
left: 5px;
opacity: 0;
overflow: hidden;
padding: 10px 20px;
position: absolute;
text-align: center;
top: 5px;
right: 5px;
-webkit-transition: 0.6s;
transition: 0.6s;
background-color:rgba(0,0,0,0.5);
}
.widget-footer .col-xs-4 .overlay:hover,
.widget-footer .col-xs-4 .overlay:focus{
opacity:1;
}
.widget-footer .col-xs-4 .overlay a{
color:#fff;
}
.footer-bottom{
padding:5px 0;
font-size:18px;
}
.footer-copyright{
	margin:0;
}
.f_copyright a{
	text-decoration:none;
	color:#000;
	font-size:18px;
	font-weight:bold;
}
.footer-bottom .right-align{
float:right;
}
.widget-footer .address .icon{
font-size:20px;
}
.footer-bottom .right-align a{
color:#fff;
text-align:center;
}
.footer-bottom .right-align .icon {
border: 1px solid #fff;
height: 30px;
padding: 5px;
width: 30px;
}
/* Footer End */

/* Spa Services */
.swiper-container4{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.spa-service{
padding-top:50px;
}
.spa-services .img-thumbnail{
padding:0;
border:0;
border-radius:0;
display:block;
overflow:hidden;
position:relative;
}
.spa-services  .ser{
margin:20px 0 0;
overflow:hidden;
}
.spa-services  .ser:hover ,
.spa-services  .ser:focus {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);  /* For Webkit browsers */
filter: gray;  /* For IE 6 - 9 */
-webkit-transition: all 1s ease 0.3s;  /* Transition for Webkit browsers */
}
.spa-services  .ser-text{
text-align:center;
margin:0;
border:1px solid #d6d6d6;
border-top:transparent;
}
.spa-services .ser-text .btn {
  display:inline-block;
  white-space:normal;
  border-radius: 36px;
  color: #fff;
  margin: 10px 0;
  padding: 3px 10px;
  font-size: 18px;
}
.spa-services  .ser-text .btn::after {
  content: "";
  font-family: FONTAWESOME;
  font-size: 20px;
  margin: 0 5px;
}
.spa-service .ser-button {
list-style-type: none;
margin: 20px auto;
padding: 0;
text-align: center;
width: 100%;
}
.spa-service .ser-button li{
display:inline-block;
margin:5px;
}
.spa-service .ser-button .btn{
padding:5px 10px;
border-radius:0;
}
.spa-service .ser-content{
margin:0 -15px 0 -15px;
padding:50px 0;
text-align:left;
background-color:#000;
color:#fff;
}
.spa-service .ser-content h1{
text-align:left !important;
}
.spa-service .ser-content p{
font-size:18px;
}
.spa-service .ser-content .img-thumbnail{
padding:0;
border:10px solid rgba(255,255,255,0.5);
border-radius:0;
display:block;
position: relative;
}
.spa-service .swiper-button-next,
.spa-service .swiper-button-prev {
  background-color: #869791 ;
  padding: 20px 25px;
  background-size: 20px;
  top: 90%;
}
.spa-service .swiper-button-next {
  left: 6%;
}
.ser-content .img-thumbnail .overlay {
border: 10px solid rgba(0,0,0,0.6);
visibility:visible;
opacity:1;
z-index:1;
left:0;
right:0;
top:0;
bottom:0;
background:rgba(180, 180, 180, 0.40);
position:absolute;
}
.port-pics{
margin:20px 0 0;
}
#grid{
width:100%;
height:auto;
}
.port-pics .element-item {
padding:0;
}
.port-pics .element-item .overlay{
visibility:hidden;
opacity: 0;
position: absolute;
text-align:center;
width:100%;
height:100%;
color: white;
top:0;
overflow: hidden;
background: rgba(0, 0, 0, 0.7) none repeat scroll 0 center;
}
.port-pics .element-item:hover .overlay,
.port-pics .element-item:focus .overlay{
opacity:0.7;
visibility:visible;
transition:all 1s ease 0.3s;
}
.port-pics .element-item .overlay h2{
margin-top:30%;
}
.port-pics .element-item .overlay h2 a{
color:#fff;
}
.port-pics .element-item .overlay .icon{
color:#fff;
text-align:center;
border:1px solid #fff;
padding:5px 15px;
font-size:24px;
}
/* Spa Services */

/* Spa Post Start */
.spa-post{
padding:40px 0;
}
.spa-blog-post {
margin: 20px 0;
padding: 10px 0;
}
.spa-post-detail {
margin:0;
}
.spa-post-desc{
margin:10px 0;
}
.spa-post-desc-text{
border:1px solid #ccc;
}
.spa-post-desc-text .img-thumbnail {
padding: 15px 0 0 0;
display: block;
border: 0;
position: relative;
border-radius: 0;
background-color: transparent;
}
.spa-post-date {
border: 1px solid #ccc;
display: inline-block;
font-size: 36px;
margin-top: 25px;
text-align: center;
}
.spa-post-date  span {
background-color: #999;
border-top: 1px solid #ccc;
color: #fff;
display: block;
font-size: 18px;
padding: 0 20px;
}
.spa-post-detail  h2 {
display: inline-block;
font-size: 30px;
margin-top: 25px;
padding-left: 15px;
position: absolute;
}
.spa-post-desc-text h2 a{
text-decoration:none;
color:#666;
}
.spa-post-detail  ul {
display: block;
list-style: none;
padding: 0 10px;
margin-top: 5px;
}
.spa-post-detail  ul li {
display: inline-block;
}
.spa-post-detail ul li a {
color: #3b9636;
font-size: 16px;
text-decoration: none;
padding: 2px  5px;
border: 1px solid #3b9636;
}
.spa-post-detail ul li a:hover ,
.spa-post-detail ul li a:focus {
color: #fff;
background-color:#3b9636;
border: 1px solid #fff;
}
.spa-post-detail  p {
font-size: 16px;
}
.spa-post-detail .btn {
display:inline-block;
white-space:normal;
border: 1px solid #3b9636;
border-radius: 30px;
color: #3b9636;
margin: 5px 0;
}
.spa-post-detail .btn:hover,
.spa-post-detail .btn:focus{
background-color: #3b9636;
color: #fff;
}
.spa-post-desc-text:hover  .img-thumbnail,
.spa-post-desc-text:focus  .img-thumbnail {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);  /* For Webkit browsers */
filter: gray;  /* For IE 6 - 9 */
-webkit-transition: all 1s ease 0.3s;  /* Transition for Webkit browsers */
}
/* Spa Post End */

/* Spa Testimonail */
.spa-testimonail{
padding:40px 0;
background:rgba(0,0,0,0.5);
}
.spa-testimonail-text {
border: 5px solid #3b9636;
margin: 20px 0;
background:rgba(255,255,255,0.7);
}
.spa-testimonail .img-thumbnail {
border: 2px solid #ddd;
display: inline-block;
margin-top: -30px;
padding: 0;
position: relative;
}
.spa-testimonail-text ul {
display: inline-block;
list-style: outside none none;
padding: 0;
margin: 5% 0;
}
.spa-testimonail-text  ul  li{
display: inline-block;
}
.spa-testimonail-text .btn{
display:inline-block;
white-space:normal;
font-size: 15px;
margin: 10px 0;
color: #3b9636;
border:1px solid #3b9636;
text-decoration:none;
}
.ser-text a {
    color: #000;
    text-decoration: none;
}
.error_404 button.send_button {
    background-color: green;
    color: #fff;
    padding: 8px;
}
.spa-testimonail-text ul li a {
display: inline-block;
font-size: 20px;
margin: 0;
color: #3b9636;
}
.spa-test-pic a {
  color: #3b9636;
  font-size: 16px;
  font-weight: bold;
}
.spa-test-desc p {
font-size: 16px;
float: left;
margin-top:20px;
}
.spa-test-desc .b_link{
	margin:0;
}
.align-left{
float:left;
}
.align-right{
float:right;
}
.swiper-container{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.swiper3{
padding:0;
}
.spa-testimonail .swiper-button-next{
left: 13%;
right: 10px;
top: 90%;
}
.spa-testimonail .swiper-button-prev {
left: 5%;
right: 10px;
top: 90%;
}
.spa-testimonail .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
bottom: 8%;
left: 8%;
width: auto;
}
/* Spa Testimonail */

/* Spa Offer */
.spa-offer {
border: 10px solid rgba(0, 0, 0, 0.6);
padding: 30px 0;
background-image:url(images/offer-back.png);
}
.spa-offer-detial h2 strong {
color: #3b9636;
}
.spa-offer-detial  h2 {
margin: 20px 0 10px;
}
.spa-offer-detial > p {
font-size: 18px;
}
.spa-offer .btn {
border: 1px solid #3b9636;
border-radius: 30px;
padding: 5px 20px;
background-color: #3b9636;
color: #fff;
text-transform: uppercase;
float: right;
}
/* Spa Offer */

/* Spa Call out */
.spa-call-out{
padding:30px 0;
border: 10px solid rgba(0, 0, 0, 0.6);
background-color:#ddd;
}
.spa-call-icon i {
  font-size: 60px;
}
.spa-call-detial h2 {
  font-size: 24px;
  margin: 5px 0;
}
.spa-call-link .btn {
  background-color: #3b9636;
  border: 1px solid #3b9636;
  border-radius: 30px;
  color: #fff;
  float: right;
  font-size: 24px;
  padding: 5px 20px;
  text-transform: uppercase;
}
/* Spa Call out */

/* Spa specelist */
.spa-specelist-cover{
background-image: url(images/back2.jpg);
background-attachment: fixed;
background-size: 100%;
}
.spa-specelist {
padding: 40px 0;
background:rgba(0,0,0,0.6);
color:#fff;
}
.spa-team-detail  ul {
display: inline-block;
list-style: outside none none;
padding: 0;
}
.spa-team-detail{
text-align:center;
border:2px solid transparent;
}
.spa-team-detail  ul  li{
display: inline-block;
}
.spa-specelist  .spa-team-detail a .icon {
background-color: #3b9636;
}
.spa-specelist  .spa-team-detail a{
text-align:center;
color:#fff;
}
.spa-team-detail h2{
margin:0;
padding:10px 0;
}
.spa-team-member{
margin:10px 0;
}
.spa-specelist  .spa-team-detail .icon {
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
font-size: 15px;
height: 25px;
padding: 5px 0;
width: 25px;
}
.spa-team-member .img-thumbnail{
position:relative;
display:block;
padding:0;
border:0;
}
.spa-team-member .img-thumbnail .overlay {
background-color: #3b9636;
border: 15px solid rgba(255,255,255,0.30);
height: 100%;
opacity: 0;
visibility:hidden;
position: absolute;
text-align: center;
top: 0;
width: 100%;
color: #fff;
}
.spa-team-member:hover .overlay,
.spa-team-member:focus .overlay {
opacity: 0.75;
visibility:visible;
transition:all ease 0.6s;
}
.spa-team-member:hover .spa-team-detail,
.spa-team-member:focus .spa-team-detail{
transition:all ease 0.6s;
border:2px solid #3b9636;
border-top:0;
}
.spa-specelist-team {
margin: 0;
padding: 30px 0;
}
.spa-team-member .overlay  h2 a{
color:#fff;
text-decoration:none;
}
.spa-team-member .overlay  h2::after {
border: 2px solid #fff;
content: "";
left: 50%;
margin-left: -35px;
position: absolute;
top: 25%;
width: 70px;
}
.spa-team-member .overlay p {
bottom: 0;
font-size: 18px;
padding: 0 10px;
position: absolute;
text-align: left;
}
/* Spa specelist */

/* Spa Clients */
.spa-clients{
padding:40px 0;
}
.swiper-container {
margin: 0 auto;
overflow: hidden;
padding-top: 20px;
position: relative;
max-width: 100%;
z-index: 1;
}
.home-slider{
padding:0 !important ;
}
.home-slider .swiper-button-next, .home-slider .swiper-button-prev {
  bottom: 1%;
  top: inherit;
}
.home-slider .swiper-button-prev,.home-slider  .swiper-container-rtl .swiper-button-next {
 left: 50%;
 margin-left: -120px;
}
.home-slider .swiper-button-next,.home-slider  .swiper-container-rtl .swiper-button-prev {
 right: 50%;
 margin-right: -120px;
}
/* Spa Clients */
/* Spa Appointment */
.spa-appoinment-cover{
background-image: url(images/back2.jpg);
background-attachment: fixed;
background-size: 100%;
}
.spa-appoinment{
padding:40px 0;
background:rgba(0,0,0,.6);
color:#fff;
}
.spa-appoinment label {
width: 100%;
}
.spa-appoinment .form-control {
background: rgba(255,255,255,0.3);
border-radius: 0;
height: auto;
padding: 15px ;
border:0;
color:#fff;
}
.spa-appoinment .form-control::-moz-placeholder {
color: #fff;
opacity: 1;
}
.spa-appoinment .form-control::-webkit-placeholder {
color: #fff;
opacity: 1;
}
.spa-appoinment .form-control::-o-placeholder {
color: #fff;
opacity: 1;
}
#name-label::before {
content: "";
font-family: FontAwesome;
font-size: 30px;
left: 10px;
position: absolute;
top: 25px;
border-right: 2px solid #fff;
width: 40px;
}
#email-label::before {
content: "";
font-family: FontAwesome;
font-size: 30px;
left: 10px;
position: absolute;
top: 25px;
border-right: 2px solid #fff;
width: 40px;
}
#subject-label::before {
content: "\f044";
font-family: FontAwesome;
font-size: 30px;
left: 10px;
position: absolute;
top: 25px;
border-right: 2px solid #fff;
width: 40px;
}
#message-label::before {
content: "";
font-family: FontAwesome;
font-size: 30px;
left: 25px;
position: absolute;
top: 25px;
border-right: 2px solid #fff;
width: 40px;
}
#name-label::before,
#email-label::before,
#subject-label::before,
#message-label::before{
color: #fff;
}
#contact-name, #email, #subject,#message {
padding-left: 60px;
}
.spa-appoinment  #name-label,
.spa-appoinment  #subject-label ,
.spa-appoinment  #email-label {
position: relative;
width: 100%;
}
.spa-appoinment .browse-callout-button {
background-color: #3b9636;
border: 0 none;
border-radius: 30px;
color: #fff;
font-size: 16px;
padding: 5px 20px;
text-transform: uppercase;
}
/* Spa Appointment */
/* Spa Contact */
.spa-contact-detail{
padding:40px 0;
background-color:#3b9636;
color:#fff;
}
.spa-contact .icon {
color: #fff;
display: block;
float: left;
font-size: 72px;
margin-right: 10px;
}
.spa-contact h2 {
color: #000;
display: inline-block;
font-size: 24px;
font-weight: bold;
margin: 10px 0;
}
.spa-contact p {
color: #fff;
display: block;
font-size: 20px;
font-weight: bold;
margin: 0;
}
/* Spa Contact */
/* Single */
.blog-single{
margin:0;
}
.alignnone {
height: auto;
max-width: 100%;
}
.aligncenter {
margin: 0 auto;
}
.alignnone img {
height: auto;
max-width: 100%;
}
.wp-caption-text {
background-color: #ccc;
font-size: 16px;
padding: 5px 0;
text-align: center;
font-style: italic;
}
.entry-content p {
font-size: 16px;
}
.alignleft {
float: left;
margin: 0 20px;
}
.alignright {
float: right;
}
.blog-pagination{
margin:20px 0;
}
.blog-pagination .icon {
background-color: #ddd;
border-radius: 50%;
font-size: 18px;
margin: 0 5px;
padding: 2px 8px;
}
.blog-pagination .pager li > a {
padding: 5px 10px;
font-size: 18px;
}
.blog-author {
margin: 20px 0;
}
.blog-author .img-thumbnail {
border-bottom-left-radius: 78px;
border-bottom-right-radius: 78px;
border-top-right-radius: 78px;
display: block;
padding: 25px;
}
.blog-author .img-thumbnail img {
border-radius: 50%;
}
.blog-author .social {
display: inline-block;
float: right;
list-style-type: none;
margin: 10px 0;
}
.blog-author .social > li {
border-bottom-left-radius: 50%;
border-top-right-radius: 50%;
display: inline-block;
padding: 2px 8px;
}
.blog-author .social > li a{
color:#fff;
}
.blog-author h3 {
display: inline-block;
font-weight:bold;
}
.blog-author p {
font-size: 16px;
}
.blog-author .user-name{
float:right;
font-weight:bold;
}
.recent-blog{
margin:20px 0;
}
.recent-blog .img-thumbnail{
border:0px;
}
.swiper-container5{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.blog-comments {
margin:0;
}
.comment-section{
margin:0;
}
.col-xs-10.comments-text {
  box-shadow: 1px 2px 9px #ccc;
  transition: all 0.3s ease 0s;
}
.col-xs-10.comments-text:hover,
.col-xs-10.comments-text:focus {
  box-shadow: 1px 2px 9px #3b9636;
  transition: all 0.3s ease 0s;
}
.comments-text > h4 {
display: inline-block;
margin-right: 20px;
font-weight: bold;
}
.comments-text span {
font-size: 16px;
margin-left: 20px;
font-weight: normal;
}
.comments-pics img {
border: 5px solid #ccc;
}
.blog-comments .comment-detail{
margin:10px 0;
}
.blog-feedback{
margin:0;
}
.blog-feedback .form-control {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color -moz-use-text-color #666;
border-image: none;
border-style: none none solid;
border-width: 0 0 2px;
}
/* Single */
/* table */
.calendar_wrap {
margin: 10px 10px 0 0;
}
.calendar_wrap table {
text-align: center;
width: 100%;
}
.calendar_wrap caption {
background-color: #3b9636;
color: #fff;
font-size: 16px;
text-align: center;
text-transform: uppercase;
}
.calendar_wrap thead th {
font-size: 20px;
padding: 3px 5px;
text-align: center;
}
.calendar_wrap tfoot td,
.calendar_wrap thead {
border: 1px solid #3b9636;
}
.calendar_wrap tbody  td {
background-color: #000;
border: 1px solid #fff;
color: #fff;
font-size: 16px;
padding: 0px 5px;
}
.calendar_wrap td a {
color: #3b9636;
font-size: 18px;
font-weight: bold;
text-decoration:none;
}

/* table */

/* About Us  */
.spa-about-us{
margin:0;
}
.spa-team-about {
border: 5px solid #ccc;
border-radius: 80px;
padding: 20px 10px;
}
.spa-team-sec {
padding: 0 40px;
margin: 25px 0 50px 0px;
}
.spa-about-content {
    padding: 10px 15px;
    margin-bottom: 10px;
}
.spa-about-content p {
color: #555;
font-size: 20px;
margin: 15px 0;
}
.spa-about-content > ul {
display: inline-block;
padding: 10px  15px;
list-style: none;
margin: 0;
width: 100%;
}
.spa-about-content > ul  li{
display: block;
margin:5px 0;
}
.spa-about-content > ul li::before {
content: "\f105";
font-size: 18px;
font-weight: bold;
left: 15px;
margin-top: 1px;
position: absolute;
font-family:FontAwesome;
}
.spa-about-content > ul li a {
color: #333;
font-size: 18px;
text-decoration:none;
}
.spa-about-content .btn {
border-radius: 30px;
padding: 5px 20px;
margin-top: 20px;
}
.spa-about-content .btn::before {
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -4px;
    float: right;
}
.spa-team-about-desc .btn {
border-radius: 30px;
padding: 5px 20px;
margin-top: 20px;
}
.spa-team-about-desc .btn::before {
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -4px;
    float: right;
}
.spa-about-team {
margin: 20px 0;
}
.spa-team-about .img-thumbnail {
border: 0;
display: block;
margin: 15px 40px 0 40px;
padding: 0;
position: relative;
}
.spa-team-about-desc {
margin: 0;
text-align: center;
}
.spa-team-about-desc h2 span {
display: block;
font-size: 16px;
}
.spa-team-about-desc .team-social {
list-style: none;
padding: 0;
display: inline-block;
width: 100%;
margin:10px 0;
}
.spa-team-about-desc .team-social li {
display: inline-block;
}
.spa-team-about-desc .team-social .icon {
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
font-size: 16px;
height: 30px;
padding: 7px 0;
width: 30px;
background-color:#000;
color:#fff;
}

.spa-team-about-desc p{
font-size:18px;
color:#555;
padding:5px;
margin:0;
}
.spa-team-about .img-thumbnail .overlay{
position:absolute;
width:100%;
height:100%;
top:0;
opacity:0;
visibility:hidden;
}
.spa-team-about:hover .img-thumbnail,
.spa-team-about:focus .img-thumbnail{
border: 10px solid rgba(0, 0, 0, 0.5);
transition:all ease 0.4s;
}
.spa-team-about:hover .overlay,
.spa-team-about:focus .overlay{
opacity:0.6;
visibility:visible;
transform: rotate(30deg);
transition:all ease 0.6s;
}
.spa-team-about:hover .img-thumbnail img,
.spa-team-about:focus .img-thumbnail img {
transform: rotate(30deg);
transition:all ease 0.6s;
}
.swiper-container2{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.spa-about-detail {
padding: 0 15px 10px 15px;
}
.spa-about-testi {
border-left: 2px solid #fff;
margin: 0;
padding: 0 10% 10%;
text-align: center;
}
.spa-about-detail .img-thumbnail {
border-radius: 50%;
display: block;
margin: 20px 50px;
padding: 0;
position: relative;
}
.spa-about-detail .img-thumbnail img {
border-radius: 50%;
}
.col-md-12.spa-about-detail  h2 {
margin:5px 0;
text-decoration: none;
font-size:24px;
}
.col-md-12.spa-about-detail  h2 a{
color: #fff;
}
.col-md-12.spa-about-detail  span {
margin:5px 0;
color: #fff;
text-decoration: none;
}
.swiper-pagination-bullet {
background: transparent;
height: 10px;
opacity: 0.5;
width: 10px;
border-radius: 0;  border:1px solid #fff;
}
.swiper-pagination-bullet-active{
height: 20px;
width: 20px;
background: transparent;
border:1px solid #fff;
}
/* About Us  */

/* Masanary */
.three-coloum .blog-description h1 {
font-size: 18px;
}
.four-coloum  .blog-description h1 {
font-size: 14px;
}
.four-coloum .blog-date .blog-year, 
.four-coloum  .blog-comment .blog-year {
font-size: 10px;
}
.four-coloum .blog-date {
font-size: 24px;
}
.four-coloum-full-width .blog-description h1 {
font-size: 20px;
}
.four-coloum-full-width .blog-date .blog-year, 
.four-coloum-full-width .blog-comment .blog-year {
font-size: 12px;
}
.two-cloum .blog-detail .img-thumbnail .overlay .icon ,
.three-coloum .blog-detail .img-thumbnail .overlay .icon ,
.four-coloum .blog-detail .img-thumbnail .overlay .icon {
  font-size: 24px;
  height: 50px;
  padding: 10px;
  width: 50px;
}
/* Masanary */
/* Portfolio  Coloum */
.spa-portfolio .button-group {
padding: 30px 0;
}
.spa-portfolio .button {
    font-size: 16px;
    margin: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.spa-portfolio .img-thumbnail {
border: 0 none;
display: block;
padding: 0;
position: relative;
}
.spa-portfolio .element-item {
margin: 15px 0;
}
.spa-portfolio  .img-thumbnail .overlay {
position: absolute;
top: 0;
background: rgba(0,0,0,0.5);
width: 100%;
height: 100%;
text-align: center;
color:#fff;
opacity:0;
overflow:hidden;
visibility:hidden;
}
.spa-portfolio .element-item:hover .overlay,
.spa-portfolio .element-item:focus .overlay {
opacity:1;
visibility:visible;
transition:all 0.6s linear 0.2s;
}
.overlay-text {
border: 1px solid #fff;
height: 95%;
margin: 10px;
padding: 5% 0 0;
}
.spa-portfolio .img-thumbnail .overlay a{
color:#fff;
text-decoration:none;
}
.spa-portfolio .img-thumbnail .overlay h2::after {
background-color: #fff;
content: "";
height: 2px;
left: 50%;
margin-left: -100px;
margin-top: 35px;
position: absolute;
width: 200px;
}
.overlay-text .icon {
border: 1px solid;
border-radius: 50%;
font-size: 36px;
height: 60px;
padding: 10px;
width: 60px;
}
.portfolio-three-coloum  .overlay-text{
height:92%;
}
.portfolio-three-coloum h2,
.portfolio-three-coloum h3 {
margin: 10px 0;
}
.portfolio-three-coloum .overlay-text .icon {
font-size: 30px;
height: 50px;
width: 50px;
}
.portfolio-four-coloum  .overlay-text{
height:90%;
}
.portfolio-four-coloum h2,
.portfolio-four-coloum h3 {
margin: 5px 0;
}
.portfolio-four-coloum .overlay-text .icon {
font-size: 18px;
height: 40px;
width: 40px;
}
.grid {
left: 0 !important;
padding: 0 !important;
position: relative !important;
top: 0 !important;
}
/* Portfolio  Coloum */
/* Port detail */
.spa-portfolio-detl h1 {
border-bottom: 5px solid #3b9636;
border-image: url("images/bottom.png") 30 30 30 30 round round;
margin: 0 0 10px;
padding: 5px 10px;
}
.spa-portfolio-detl .img-thumbnail {
border: 0 none;
display: block;
padding: 0;
position: relative;
}
.spa-project-detail {
margin: 30px 0;
}
.spa-portfolio-project {
padding: 0 10px 0 0 ;
}
.spa-portfolio-desc {
padding: 0 0 0 10px  ;
}
.spa-pagination,
.spa-portfolio-detl {
margin: 0;
}
.spa-port-date {
display: block;
font-size: 20px;
font-weight: bold;
margin: 5px 0;
}
.spa-port-date .icon {
font-size: 24px;
margin: 0 15px;
}
.spa-port-date  span {
display: inline-block;
width: 70px;
}
.spa-portfolio-project .btn {
margin: 30px 0 10px ;
padding:2px 10px;
border-radius:0;
font-size:16px;
}
.spa-portfolio-project .btn::before {
border-right: 1px solid #fff;
color: #fff;
content: "";
font-family: FontAwesome;
font-size: 20px;
margin-right: 10px;
padding-right: 10px;
position: relative;
}
.spa-portfolio-desc  p {
font-size: 20px;
color: #555;
}
.spa-portfolio-pics {
margin: 20px 0;
}
.spa-port {
padding: 10px;
}
.swiper-container3 {
margin: 0 auto;
max-width: 100%;
overflow: hidden;
padding-top: 20px;
position: relative;
z-index: 1;
}
.spa-related-portfolio  .swiper-slide .img-thumbnail{
display:block;
position:relative;
padding:0;
border:0;
}
.spa-related-portfolio  .swiper-slide .img-thumbnail .overlay {
position: absolute;
top: 0;
background: rgba(0,0,0,0.5);
width: 100%;
height: 100%;
text-align: center;
color:#fff;
opacity:0;
overflow:hidden;
visibility:hidden;
}
.spa-related-portfolio .swiper-slide:hover .overlay,
.spa-related-portfolio .swiper-slide:focus .overlay {
opacity:1;
visibility:visible;
transition:all 0.6s linear 0.2s;
}
.spa-related-portfolio .overlay-text {
border: 1px solid #fff;
height: 90%;
margin: 10px;
padding: 15% 0 ;
}
.spa-related-portfolio .img-thumbnail .overlay a{
color:#fff;
text-decoration:none;
}
.overlay-text .icon {
border: 1px solid;
border-radius: 50%;
font-size: 30px;
height: 50px;
padding: 10px;
width: 50px;
}
.spa-port-desc {
margin: 20px 0;
}
.spa-port-desc  p {
font-size: 18px;
}
/* Port detail */
/* Contact */
.spa-contact-message label{
width:100%;
}
.spa-contact-info {
padding: 0 50px;
}
.spa-contact-info-detail{
padding: 20px ;
box-shadow:0px 2px 1px 2px #ccc;
}
.spa-contact-info-detail.black {
background-color: #000;
color: #fff;
}
.spa-contact-info-detail p {
font-size: 18px;
}
.spa-contact-info-detail .line {
width: 250px;
margin: 20px  auto;
}
.spa-contact-logo{
text-align:center;
}
.spa-contact-logo .img-thumbnail {
display: inline-block;
padding: 0;
border: 0;
position: relative;
}
.spa-contact-logo p{
font-size:18px;
}
.spa-contact-message {
padding: 20px 0;
}
.spa-feedback .form-group {
margin: 5px 0;
}
.spa-feedback .form-control {
height: auto;
padding: 10px;
margin: 5px 0 0 0;
border-radius:0;
}
.spa-contact-info-detail{
text-align:center;
}
.spa-contact-info-detail span {
display: block;
font-size: 20px;
}
.spa-contact-info-detail a{
color:#fff;
text-decoration:none;
}
.spa-contact-info-detail  h2:after {
content: "";
position: absolute;
width: 150px;
border: 1px dashed #fff;
left: 50%;
margin-left: -75px;
margin-top: 35px;
}
.spa-map{
margin:0;
}
.spa-map iframe{
width:100%;
height:350px;
}
.spa-feedback .btn {
  background: transparent none repeat scroll 0 0;
  border: 1px solid;
  border-radius: 0;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px 20px;
}
.spa-contact-text {
  text-align: left;
  margin-bottom: 30px;
}
.spa-contact-info-detail .spa-contact-text  h2:after {
content: "";
position: absolute;
width: 150px;
border: 1px dashed #fff;
left: 5%;
margin-left: 0;
margin-top: 35px;
}
.spa-contact-message > h3 {
  padding-left: 30px;
  margin-bottom:20px;
}
.spa-contact-message > h3::after {
  content: "";
  left: 3%;
  margin-left: -5px;
  margin-top: 30px;
  position: absolute;
  width: 150px;
}
.spa-contact-text a{
color:#000;
text-decoration:none;
}
.spa-social {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 20px 0 0;
}
.spa-social li{
  display: inline-block;
}
.spa-social li .icon{
width:35px;
height:35px;
border:1px solid #000;
border-radius:50%;
font-size:20px;
text-align:center;
padding:5px;
margin:3px;
}
.spa-contact-info-detail.black > h1 {
  margin: 0 0 20px;
}
/* Contact */

/* Team */
.spa-team-info{
margin:0;
padding:20px 0;
}
.spa-team-pics .img-thumbnail {
  display: block;
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.spa-team-pics h1 span {
  font-size: 20px;
  display: block;
  font-weight: bold;
}
.spa-team-details .team-mem span,
.spa-team-details h1 span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.spa-team-details .team-mem::after {
  content: "";
  left: 15px;
  margin-left: 0;
  margin-top: -30px;
  position: absolute;
  width: 290px;
}
.spa-team-details  p {
  font-size: 18px;
  margin: 20px 0;
}
.team-social {
  padding: 0 0 0 10px;
  list-style: none;
  display: inline-block;
  margin: 20px 0 0;
}
.team-social li{
  display: inline-block;
}
.team-social a{
color:#fff;
}
.team-social .icon {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 16px;
  height: 30px;
  padding: 5px 0;
  width: 30px;
  text-align:center;
}
.spa-team-graph {
  margin: 30px 0;
}
.progress .team-graph {
  background-color: #00802b;
  border-radius: 50%;
  font-size: 18px;
  height: 50px;
  left: 49%;
  margin-top: -18px;
  padding: 15px 5px;
  position: absolute;
  width: 50px;
}
.progress .team-graph-start {
  background-color: #eae505;
  color:#000;
  border-radius: 50%;
  font-size: 20px;
  height: 60px;
  left: 0;
  margin-top: -22px;
  padding: 20px 5px;
  position: absolute;
  width: 60px;
}
.side1{
left:68% !important;
}
.side2{
left:88% !important;
}
.progress .team-graph-end {
  background-color: #000;
  border-radius: 50%;
  font-size: 20px;
  height: 60px;
  left: 95%;
  margin-top: -22px;
  padding: 20px 5px;
  position: absolute;
  width: 60px;
}
.progress {
  background-color: #000;
  margin-bottom: 0;
}
.spa-team-graph h2 {
  margin: 5px 0;
  padding-left: 50px;
}
.progress .progress-bar-success {
  /* background: green !important; */ /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #eae505 ,#3b9636); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #eae505 ,#3b9636); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #eae505 ,#3b9636); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #eae505 ,#3b9636); /* Standard syntax */
} 
.spa-team .spa-team-desc {
  margin: 20px 0;
}
.spa-team .spa-team-desc h2::after {
  content: "";
  left: 15%;
  margin-left:-10px;
  margin-top: 40px;
  position: absolute;
  width: 200px;
}
.spa-specialilty,
.spa-appoint {
  margin: 30px 0;
}
.spa-appoint-detail{
float:right;
  border: 5px solid #fff;
}
.spa-team-appionment {
  background-color: #ddd;
}
.spa-time {
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.spa-appoint-detail i {
  border-radius: 50%;
  font-size: 72px;
  height: 150px;
  left: 40%;
  margin-top: -70px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 150px;
}
.spa-specialilty h2{
margin:5px 0 20px 0;
}
.spa-specialilty h2::after {
  content: "";
  left: 15%;
  margin-left: -15px;
  margin-top: 35px;
  position: absolute;
  width: 200px;
}
.spa-appoint blockquote,
.spa-specialilty p{
font-size:18px;
}
/* Team */
/* Services Detail */
.spa-service-detail{
margin:0;
}
.spa-service-detail > h1 {
  display: inline-block;
  margin: 0;
}
.spa-service-detail i {
  float: right;
  margin-right: 20px;
}
.spa-service-detail i img{
  border: 2px solid #666;
  border-radius:50%;
  padding: 5px;
  width:60px;
  height:60px;
}
.spa-service-detail > h1::after {
  border: 1px solid #666;
  content: "";
  left: 15px;
  margin-left: 0;
  margin-top: 45px;
  position: absolute;
  width: 300px;
}
.spa-service-detail .img-thumbnail {
  display: block;
  margin: 30px 10px 20px 0;
  padding: 0;
  position: relative;
}
.spa-service-detail > p {
  font-size: 18px;
  margin: 20px 0 0 0;
}
.spa-service-detail > ul {
  display: inline-block;
  list-style: outside none none;
  margin: 20px 0;
  padding: 0;
}
.spa-service-detail > ul li{
  display: block;
  font-size:18px;
  font-weight:bold;
 }
 .spa-service-detail > ul li:before{
  border-right: 1px solid #fff;
  color: #fff;
  content: "";
  font-family: FontAwesome;
  font-size: 20px;
  margin-right: 0;
  padding-right: 10px;
  position: relative;
 }
 .spa-pricing{
 margin:30px 0;
 }
.spa-price {
  border-radius: 50%;
  font-size: 30px;
  left: 30%;
  top: -50px;
  padding: 15px 5px;
  position: absolute;
}
.spa-pricing-detail{
text-align:center;
margin:10px 0;
}
.spa-price-desc h2 {
  font-size: 24px;
  text-align: left;
}
.spa-price-desc > p {
  font-size: 16px;
  margin: 5px 0;
  text-align: left;
}
.spa-price-desc {
  border: 1px solid #ccc;
  margin: 30px 0 10px;
  padding: 20px 5px;
  background-color:#e6e6e6;
}
.spa-related-services{
margin:0;
}
.spa-related-services .img-thumbnail {
  border: 0 none;
  display: block;
  padding: 0;
  position: relative;
}
.spa-related-services .img-thumbnail .overlay {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  color: #fff;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.spa-related-services .img-thumbnail:hover .overlay,
.spa-related-services .img-thumbnail:focus .overlay{
opacity:0.5;
transition:all 1s ease 0.6s;
opacity: 1;
 visibility: visible;
}
.spa-related-services .overlay-text {
  border: 1px solid #fff;
  height: 90%;
  margin: 5px;
  padding: 15% 0;
}
.spa-related-services .img-thumbnail .overlay a {
  color: #fff;
  text-decoration: none;
}
.spa-price-dtl {
  border-radius: 70px;
  padding: 5px 10px 5px 30px;
  text-align: left;
  background-color:#e6e6e6;
  margin: 10px 0;
}
.spa-price-dtl h2{
margin:0;
}
/* Services Detail */
/* DropCaps */
.drop-caps .cap1, .drop-caps .cap2, .drop-caps .cap3 {
  float: left;
  font-size: 32px;
  height: 50px;
  margin: -5px 10px;
  text-align: center;
  width: 50px;
}
.drop-caps p {
  margin: 30px 0;
}
.drop-caps .grey {
  background-color: #999;
  color: #fff;
}
.drop-caps .round {
  border-radius: 50%;
}
.drop-caps .square-drop,
.drop-caps .round-drop{
margin:0;
}
/* DropCaps */
/* Coloum */
.coloums p{
font-size:18px;
color:#999;
}
/* Coloum */

/* Shortcodes */
  .spa-buttons .spa-btn{
  text-decoration:none;
   padding: 8px 15px;
   margin: 5px;
   border-radius:0;
  }
.spa-buttons .btn-lg {
  margin: 5px;
  padding: 10px 20px;
  border-radius:0;
}
.spa-buttons .btn-sm {
  margin: 5px;
  border-radius:0;
}
.spa-buttons{
margin:0;
}
.shortcodes .large,
 .shortcodes .medium,
 .shortcodes .small,
 .alert .alert-box,
 .process-bar .process {
  margin: 10px 0;
}
.white{
  background-color: #fff;
  color: #000;
}
.red {
  background-color: #ff3030;
  color: #fff;
}
.blue {
  background-color: #0098ff;
  color: #fff;
}
.purpul {
  background-color: #ad5cff;
  color: #fff;
}
.orange {
  background-color: #ffb547;
  color: #fff;
}
.black {
  background-color: #000;
  color: #fff;
}
.green {
  background-color: #7edf7e;
  color: #fff;
}
.pink {
  background-color: #e678a3;
  color: #fff;
}
.brown {
  background-color: #753d02;
  color: #fff;
}
.spa-toggle-type1,
.spa-toggle-type2{
margin:20px 0;
}
.spa-toggle-type1 .btn,
.spa-toggle-type2 .btn {
  color:#fff;
  border-radius: 0;
  margin:  5px 0 0 0;
  padding: 5px 10px;
  text-align: left;
  width: 100%;
}
.spa-toggle-type1 h3,
.spa-toggle-type2 h3{
margin:5px 0;
}
.spa-toggle-type1 .collapse,
.spa-toggle-type2 .collapse {
  margin: 0 0 10px;
  background-color:#e6e6e6;
}
.spa-toggle-type1  p,
.spa-toggle-type2  p{
 padding: 5px 10px;
  font-size: 16px;
}
.spa-toggle-type1 .btn.collapsed::after {
  content: "+";
  font-size: 30px;
  font-weight: bold;
  margin: -35px 15px;
}
.spa-toggle-type1 .btn::after {
  content: "-";
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin: -35px 15px;
}
.spa-toggle-type2 .btn.collapsed::after {
  content: "\f0da";
  font-size: 30px;
  font-weight: bold;
  margin: -35px 15px;
  font-family:FontAwesome;
}
.spa-toggle-type2 .btn::after {
  content: "\f0d7";
   font-family:FontAwesome;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin: -35px 15px;
}
.spa-progress,
.spa-heading-type,
.spa-toggle,
.spa-tabs {
  margin:10px 0;
}
.spa-tabs-type1 .nav-tabs li a {
  padding: 10px 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color:#999;
}
.spa-tabs-type1 p,
.spa-tabs-type2 p{
font-size:18px;
}
.spa-tabs-type2 .nav-tabs li a {
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color:#999;
}
.spa-tabs-type2 .nav-tabs {
  border-bottom: 0;
}
.spa-panel-type .panel-heading{
font-size:18px;
}
.spa-panel-type .panel-body{
font-size:16px;
}
.spa-panel-type{
margin:20px 0;
}
/* Shortcodes */

/* 404 */
.spa-404-error{
text-align:center;
}
.spa-404-error  h1 {
  font-size: 150px;
  font-weight:bold;
} 
.spa-404-error  h2 {
  font-size: 60px;
  margin:0;
  padding:20px 0;
} 
.spa-404-error h2::before {
  content: "";
  left: 50%;
  margin-left: -150px;
  position: absolute;
  width: 300px;
  margin-top: -20px;
}
.spa-404-error h2::after {
  content: "";
  left: 50%;
  margin-left: -150px;
  position: absolute;
  width: 300px;
  margin-top: 80px;
}
.spa-404-error p{
font-size:20px;
}
.spa-404-error .btn {
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 30px;
  margin: 20px 0;
  padding: 5px 30px;
  background-color:#000;
  text-decoration:underline;
  color:#fff;
}
.spa-404-error .btn::after {
  background-color: #fff;
  border: 1px solid;
  color: #000;
  content: "";
  font-family: FontAwesome;
  padding: 10px 15px;
  margin-left: 20px;
  margin-right: -30px;
}
.spa-404-error h3 {
  font-size: 30px;
}
/* 404 */ 

/* Home Facts */
.spa-progress{
text-align:center;
}
.c100::after {
 content:none;
}
.c100 {
background-color:transparent;
  font-size: 220px;
  margin-left:10%;
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
  border: 5px solid #eee;
   -webkit-animation: rotateClockwiseAnimation 3s ease ; /* Safari 4+ */
  -moz-animation:    rotateClockwiseAnimation 3s ease ; /* Fx 5+ */
  -o-animation:      rotateClockwiseAnimation 3s ease ; /* Opera 12+ */
  animation:         rotateClockwiseAnimation 3s ease ; /* IE 10+, Fx 29+ */
}
.spa-progress .c100 span {
  color: #eee;
  font-size: 24px;
  line-height: 11em;
  width: 200px;
}
.spa-progress .c100 span img {
  display: block;
  height: 60px;
  left: 35%;
  position: absolute;
  margin-top: 25%;
  width: 60px;
}
.spa-progress > h2 {
  color: #fff;
  display: inline-block;
  font-size: 24px;
  margin: 0;
}
.spa-progress > h2:before {
  content: "";
  border: 2px solid #fff;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: -10px;
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
 transition:border 0.8s;
}
@-webkit-keyframes rotateClockwiseAnimation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes rotateClockwiseAnimation{
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes rotateClockwiseAnimation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotateClockwiseAnimation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Home Facts */

.swiper-button-disabled{
display:none !important;
}
.back-to-top i {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 10px;
  color: #fff;
  font-size: 36px;
  padding: 0 10px;
  position: fixed;
  right: 10px;
  z-index: 1;
  transition:all 1s ease 0.6s;
}
/* Section Background */
.portfolio{
background:rgba(0,0,0,0.5);
}
.portfolio-background {
  background-attachment: fixed;
  background-image: url('images/3.jpg');
  background-size:cover;
}
.testimonail-background{
  background-attachment: fixed;
  background-image: url('images/1.jpg');
  background-size:cover;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.bypostauthor{
	
}
.gallery-caption{
	
}
.sticky{
	
}
.link-content > a {
  background-color: green;
  border-radius: 4px;
  color: #fff;
  margin:0 5px;
  padding: 5px 10px;
}
.link-content > a:hover,
.link-content > a:focus{
	text-decoration:none;
}
.blog-detail h1{
	background-color:transparent !important;
	border-bottom: none;
	border-image: none;
	margin: 0 0 10px;
	padding: 5px;
}
.widget-footer ul ,
.widget-footer ul ul{
  list-style: none;
  padding-left: 20px;
  font-size: 16px;
  border:0;
}
.widget-footer ul a {
	color:#3b9636;
	text-decoration:none;
}
.widget-footer ul a:hover,
.widget-footer ul a:focus {
	color:#fff;
	transition:all .3s ease 0s;
}
.right-pagi{
	text-align:right;
}
.center-pagi{
	text-align:center;
}
.pagination li a{
	background-color:#3b9636;
	color:#fff;
	border:1px solid #fff;
	-webkit-transition:all .3s ease 0s;
	-moz-transition:all .3s ease 0s;
	-ms-transition:all .3s ease 0s;
	-o-transition:all .3s ease 0s;
	transition:all .3s ease 0s;
}
.pagination li.active a:hover,
.pagination li.active a:focus,
.pagination li.active a,
.pagination li a:hover,
.pagination li a:focus{
	background-color:#fff;
	color:#3b9636;
	border:1px solid #3b9636;
	-webkit-transition:all .3s ease 0s;
	-moz-transition:all .3s ease 0s;
	-ms-transition:all .3s ease 0s;
	-o-transition:all .3s ease 0s;
	transition:all .3s ease 0s;
}
.widget-footer .textwidget {
  padding: 0 15px;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
  width: 100%;
}
.sidebar-widget .textwidget {
  padding: 0 15px 10px 5px;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
  width: 100%;
}
.sidebar-widget ul {
  background-color: transparent;
  padding-left: 10px;
  list-style: none;
}
.sidebar-widget ul a:hover,
.sidebar-widget ul a:focus{
	color:#3b9636;
	-webkit-transition:all .3s ease 0s;
	-moz-transition:all .3s ease 0s;
	-ms-transition:all .3s ease 0s;
	-o-transition:all .3s ease 0s;
	transition:all .3s ease 0s;
}
.beautyspa-reply_text {
  padding-bottom: 10px;
}

.bs-navigation {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
.bs-navigation .nav-links span{
	display:inline-block;
	min-width:30px;
	height:30px;
	color:#333;
	padding-top:3px;
}
.bs-navigation .nav-links span.current{
	color:#fff;
	background-color:#3b9636;
	padding:5px;
	border:1px solid #3b9636;
}
.bs-navigation .nav-links a{
	color:#3b9636;
	display:inline-block;
	min-width:30px;
	height:30px;
	border:1px solid #3b9636;
	padding:5px;
	text-decoration:none;
}
.bs-navigation .nav-links a:hover,
.bs-navigation .nav-links a:focus{
	color:#fff;
	background-color:#3b9636;
}
.single-next a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
}
.single-prev a {
    text-decoration: none;
    color: white;
	background-color: green;
    padding: 10px;
    border-radius: 20px;
}
.w_breadcum  h1{
	color:#fff;
	display:inline;
}
.container-fluid.w_breadcum {
    background-color: #000;
    padding: 16px 0;
}
.beautyspa-bredcum li {
    display: inline;
	font-size: 20px;
    color: #fff;
}
.beautyspa-bredcum a {
    font-size: 20px;
    color: #fff;
}
ul.beautyspa-bredcum {
    float: right;
}
a.btn.s_link.animation.animated-item-2 {
    background-color: rgba(0, 0, 0, 0.28);
    color: white;
}
.ser .img-thumbnail i {
    margin: 20px 0;
    color: #3b9636;
    font-size: 63px;
}
.ser .img-thumbnail{
	border: 1px solid #d6d6d6;
    border-bottom: transparent;
	text-align: center;
}
.element-item img {
    width: 100%;
    height: 240px;
}
.spa-test-pic img {
    height: 94px;
    width: 100%;
}
.spa-test-pic h2 {
    color: #3b9636;
}

div#services p {
    text-align: center;
}
.space.portfolio p {
    text-align: center;
	color: #cac5bf;
}
.spa-post p {
    text-align: center;
}
.f_social a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.social1 {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.spa-heading {
    background-color: #23282d !important;
}
span.pre {
    font-size: 14px;
    font-weight: bold;
}
span.next {
    font-size: 14px;
    font-weight: bold;
}

/*pagination-new*/
.beautyspa_blog_pagination1 h2.screen-reader-text {
    display: none;
}
.beautyspa_blog_pagination1 a:hover,
.beautyspa_blog_pagination1 a:focus, .beautyspa_blog_pagination1 span.page-numbers.current {
    background-position: 0 -100%;
    color: #ffffff ;
    background-color: #499528 ;
}
.beautyspa_blog_pagination1 a, .beautyspa_blog_pagination1 span {
    border: 1px solid #dbdbdb !important;
    background-color: #ffffff ;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #499528 50%);
    color: #777777 ;
    padding: 10px;
}
/*pagination-new*/

@media(min-width:1200px){
.swiper-slide1 img {
    height: 540px !important;
    width: 1900px !important;
}
.swiper-slide img { 
	height: 540px !important;
    width: 1900px !important;
}
.blog-comment {
width: 67px;
}
}

@media(max-width:480px){
.blog-comment {
width: 48px;
}
p.single-next {
    padding-bottom: 20px;
}
.beautyspa_blog_pagination {
    margin-bottom: 13px;
}
}
@media(min-width:768px){
p.single-next {
    float: left;
}
p.single-prev {
    float: right;
}
.beautyspa_blog_pagination {
    margin-bottom: 13px;
}
}
.title,h1{
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.widget_categories li, .widget_archive li{
    text-align: right;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.widget_categories li a, .widget_archive li a {
    float: left;
    clear: both;
}
.widget_archive select,.widget_categories select{
    width: 100%;
    border: 1px solid #9c9a9a;
    padding: 10px;
}
.post-date{
  display: block;
}
.gallery {margin-bottom: 10px; padding: 5px 0;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%;padding-left: 10px;
    padding: 5px;margin: 0;} 
.gallery-item  img{width: 100%;height: auto;}
.gallery-columns-2 .gallery-item {max-width: 50%; }
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%; }
.gallery-columns-8 .gallery-item {max-width: 12.5%; }
.gallery-columns-9 .gallery-item {max-width: 11.11%; }
.gallery-caption {display: block; }

.tagcloud a{
  background: #f7f8fa;
    display: block;
    margin-bottom: 4px;
    margin-right: 5px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px !important;
    padding: 10px;
    border-width: 1px;
    margin-top: 2px;
    font-weight: 500;
    color: #232323;
    letter-spacing: 1px;
    border-radius: 5px;
}
.tagcloud a:hover ,   
.tagcloud a:focus {
    background: #3b9636;
    color: #fff !important;
    border-color: #3b9636;
}
.wp-image-907{
  width: 100%;
}
@media(min-width: 767px){
.menu-item-has-children:hover>.dropdown-menu,
.menu-item-has-children a:focus + .dropdown-menu,
.dropdown.focus > .dropdown-menu,
.dropdown:focus-within > .dropdown-menu{
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
}
}
.custom-logo-link img{
  height: 100px;
  width: 100px;
}

.main-navigation ul ul {
    float: left;
    position: absolute !important;
    top: 100%;
    left: -999em ;
    z-index: 99999;
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}


.main-navigation .collapse.show ul ul a {
    width: auto;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
/* Small menu. */
@media screen and (min-width: 993px) {
    
    .main-navigation ul {
       display: block;
    }
}
.tag-sticky-2,.sticky { 
background-color:#ededed;
border:1px solid #f5f5f5;
color:#272727;
padding:5px;
}
/* Accessibility */
/* Text meant only for screen readers. */
.skip-link.screen-reader-text {
  display: block;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.skip-link.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: max-content;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
@media screen and (max-width: 767px){
  .main-navigation ul ul {
    left: -999em !important;
  }
  .toggled.main-navigation ul ul a {
    width: auto;
  }
  .menu-toggle,
  .main-navigation.toggled ul {
      display: block;
  }
  .toggled.main-navigation {
      float: inherit;
  }
  .toggled .dropdown-menu>.active>a{
    background: transparent;
    color: #fff;
  }
  .toggled .dropdown-menu>li>a:hover {
      color: #000;
      text-decoration: none;
      background-color: #fff;
  }
  .toggled.main-navigation li {
      float: none;
      position: relative;
  }
.toggled .nav-menu{
  display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.toggled .navbar-collapse {
  display: block;
}
.main-navigation ul li.menu-item-has-children:hover > .dropdown-menu, .main-navigation ul li.focus > .dropdown-menu {
    position: relative !important;
    left: 0 !important;
    display: inline-grid;
}}
.wp-calendar-nav-prev a,.wp-calendar-nav-next a{
  color: #3b9636;
}
.wp-calendar-nav-next a{
  float: right;
}